@model List<FakeNews.web.Models.Domain.Tag>
@{
	int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
	int previousPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}

<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1>All Tags</h1>
	</div>

</div>

<form method="get" asp-controller="AdminTags" asp-action="List">
	<div class="container mt-5 d-flex justify-content-between">
		<a class="btn btn-dark" asp-controller="AdminTags" asp-action="Add">Add Tag</a>
		<div class="d-flex gap-2">
			<input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery" />
			<button class="btn btn-warning" type="submit">Search</button>
		</div>
	</div>
</form>

<div class="container py-4">
	@if (Model != null && Model.Any())
	{
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>
						Display Name
						<span class="d-inline-block">
							<span>
								<a class="btn btn-light"
								   asp-controller="AdminTags"
								   asp-action="List" 
								   asp-route-sortBy="DisplayName" 
								   asp-route-sortDirection="Asc"
								   asp-route-searchQuery="@ViewBag.SearchQuery"
								>
								<i class="bi bi-arrow-up"></i>
								</a>
							</span>							
							<span>
								<a class="btn btn-light"
								   asp-controller="AdminTags"
								   asp-action="List" 
								   asp-route-sortBy="DisplayName" 
								   asp-route-sortDirection="Desc"
								   asp-route-searchQuery="@ViewBag.SearchQuery">
								<i class="bi bi-arrow-down"></i>
								</a>
							</span>
						</span>
					</th>
					<th>Name
						<span class="d-inline-block">
							<span>
								<a class="btn btn-light"
								   asp-controller="AdminTags"
								   asp-action="List"
								   asp-route-sortBy="Name"
								   asp-route-sortDirection="Asc"
								   asp-route-searchQuery="@ViewBag.SearchQuery">
									<i class="bi bi-arrow-up"></i>
								</a>
							</span>							
							<span>
								<a class="btn btn-light"
								   asp-controller="AdminTags"
								   asp-action="List"
								   asp-route-sortBy="Name"
								   asp-route-sortDirection="Desc"
								   asp-route-searchQuery="@ViewBag.SearchQuery">
									<i class="bi bi-arrow-down"></i>
								</a>
							</span>
						</span>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var tag in Model)
				{
					<tr>
						<td>@tag.Id</td>
						<td>@tag.DisplayName</td>
						<td>@tag.Name</td>
						<td>
							<div class="d-flex align-items-center">
								<a asp-area="" asp-controller="AdminTags" asp-action="Edit" asp-route-id="@tag.Id">Edit</a>
								<form asp-area="" asp-controller="AdminTags" asp-action="DeleteFromList" method="post" class="d-inline">
									<input type="hidden" name="Id" value="@tag.Id" />
									<button type="submit" class="ms-2 text-danger btn btn-link p-0">Delete</button>
								</form>
							</div>
						</td>
					</tr>
				}
			</tbody>

		</table>

		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" 
					asp-controller="AdminTags" 
					asp-action="List" 
					asp-route-pageNumber="@previousPage" 
					asp-route-pageSize="@ViewBag.PageSize"
					asp-route-sortBy ="@ViewBag.SortBy"
					asp-route-sortDirection ="@ViewBag.SortDirection"

					>Previous</a></li>

				@for (int i = 1; i <= ViewBag.TotalPages; i++)
				{
					<li class="page-item">
						<a class="page-link" 
						asp-controller="AdminTags" 
						asp-action="List" 
						asp-route-pageNumber="@i"
						asp-route-pageSize="@ViewBag.PageSize"
						asp-route-sortBy="@ViewBag.SortBy"
					    asp-route-sortDirection="@ViewBag.SortDirection">@i</a>
					</li>				
				}

				<li class="page-item"><a class="page-link" asp-controller="AdminTags" asp-action="List" asp-route-pageNumber="@nextPage" asp-route-pageSize="@ViewBag.PageSize">Next</a></li>
			</ul>
		</nav>
	}
	else
	{
		<p>No tag found!, please add a tag <a asp-area="" asp-controller="AdminTags" asp-action="Add">here</a></p>
	}
</div>